<!DOCTYPE HTML>
<html>
<head>
  <title>STUDENT REGISTRATION</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">

  <form class="form-group" action="" method="POST">
    <div class="well well-lg">
      <label><strong>RollNo:</strong></label><br>
      <input type="number" id="rollno" name="rollno" class="form-control" placeholder="Enter RollNumber" required></input>
      <br>
    <label><strong>Name:</strong></label><br>
    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Username" required></input>
    <br>
    <label><strong>Address:</strong></label><br>
    <input type="text" id="address" name="address" class="form-control" placeholder="Enter Address" required></input>
    <br>
    <label><strong>Year:</strong></label><br>
    <input type="number" id="year" name="year" class="form-control" placeholder="Enter year" required></input>
    <br>
    <label><strong>Known Technical Skills:</strong></label><br>
    <input type="text" id="skills" name="skills" class="form-control" placeholder="Enter Skills" required></input>
    <br>
    <label><strong>PhoneNumber:</strong></label><br>
    <input type="number" id="phone" name="phone" class="form-control" placeholder="Enter PhoneNumber" required></input>
    <br>
    <label><strong>EmailID:</strong></label><br>
    <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter Email" required></input>
    <br>
    <button class="btn btn-md form-control btn-danger" type="submit">Submit</button>
  </div>
  </form>
</div>
</body>
</html>
